<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Home{% endblock %}</title>
        
    </head>
    <body>
    
        <nav class="navbar" style="background-color: #333; padding:10px 20 px;">
            <a href="#" class="navbar-logo" style="color: white; font-size: 24px;
                font-weight: bold; text-decoration: none;">To-Do List</a>
                
                <div class="navbar-container" style="display:flex; justify-content: space-between; align-items:center">
                    <ul class="navbar-links" style="list-style: none; display: flex;  flex-direction:row; gap:10px; ">
                        {% if user.is_authenticated %}
                        <li><a class="nav-item nav-link" id="home" href="/home" style="display: inline; 
                            background-color:#333; text-decoration:none; padding:10px; color:white;">Home</a></li>
                        <li><a class="nav-item nav-link" id="logout" href="/logout" style="display: inline;
                            background-color:#333; text-decoration:none; padding:10px; color:white;">Logout</a></li>
                        {% else %}
                        <li><a class="nav-item nav-link" id="login" href="/login" style="display: inline;
                            background-color:#333; text-decoration:none; padding:10px; color:white;">Login</a></li>
                        <li><a class="nav-item nav-link" id="signUp" href="/signup" style="display: inline;
                            background-color:#333; text-decoration:none; padding:10px; color:white;">Signup</a></li>
                        {% endif %}
                </ul>
                </div>
        </nav>
            {% with messages = get_flashed_messages(with_categories=true) %} {% if
                messages %} {% for category, message in messages %} {% if category ==
                'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endif %} {% endfor %} {% endif %} {% endwith %}
            <div class="container">{% block content %} {% endblock %}</div>  
           
    </body>
</html>
