{% extends "base.html" %}
{% block title %}
Login | To-Do List
{% endblock %}
{% block content %}

    <form method="POST">
        <h2 style="text-align: center;">Login </h2>
        <div style="text-align:center">  
            <label for="email">Enter Your E-mail</label>
            <br>
            <input type="email" id = "email" class="form-control" required name="email">
        </div>
        <br>
        <div style="text-align: center;">
            <label for="pass">Enter Your Password</label>
            <br>
            <input id="pass" type="password" class="form-control"
                required name="password">
        </div>
        <br>
        <div style="text-align: center; ">
            <button type="submit" style="background-color: rgb(18, 18, 216); color:white;"> Login </button>
        </div>
    
    </form>
{% endblock %}
