{% extends 'base.html' %}
{% block title %}<p>Sign Up | To-Do List</p>{% endblock %}
{% block content %}
<form method="post" action="{{ url_for('register') }}">
    <p><h3>Create a To-Do List account</h3> </p>
    <p><h4>Quick and easy process</h4></p>
    <div>
        <label for="fn">Username</label>
        <br>
        <input  id = 'fn' type="text"
            name = 'username' required
            placeholder="Username">
    </div>
    <br>
    <div>
        
        <label for="email">E-mail</label>
        <br>
        <input id = "email" required name="email"
            placeholder="Enter Your E-mail">
    </div>
    <br>
    <div>
        <label for="pass">Password</label>
        <br>
        <input id="pass" type="password"
            required placeholder="Enter Strong Password" name="password">
    </div>
    <br>
    <div>
        <input type="button", value="Register">
    </div>

</form>
<hr>
{% endblock %}
